.home {
  position: absolute;
	min-height: 100%;
	width: 100%;
  display: grid;
  z-index: 10;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 164px);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;

  embed {
    width: 220px;
    padding: 10px 0;
    margin: 0;
  }
}

/* Retina Screens */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
  .banner {
    transform: translate(-50%, 210px);

    embed {
      width: 270px;
      padding: 10px 0;
      margin: 0;
    }
  }
}
