.wrapper {
  z-index: -10;

  .background {
    position: fixed;
    object-fit: cover;
  }

  img.background {
    // transition: opacity 1s ease;
    opacity: 1;
  }

  img.hidden {
    opacity: 0;
  }

}
